*{box-sizing: border-box}
body{
  margin: 0;
  font-family: Arial;
}
.carousel-container{
  position: relative;
}

/*display none default*/
.carousel{
  display: none;
}

.carousel img{
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.text-carousel{
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
  color: #f8f8f8;
  font-size: 18px;
  padding: 8px 12px;

}
.text-carousel p{
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 16px 24px;
  opacity: 0.8;  
}

.previus, .next{
  position: absolute;
  top: 45%;
  font-size: 28px;
  padding: 12px 24px;
  color: #f8f8f8;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
  
}

.next{
  right: 0;
}
.previus:hover,
.next:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.dots{
  text-align: center;
  padding: 15px;
}
.dot{
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  margin: 0 6px;
  background-color: #bbb;
  cursor: pointer;
}

.active-dot{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #888; 
}

@media screen and (max-width: 768px){
  .carousel img{
    height: auto;
  }
}