*{box-sizing: border-box}
body{
  margin: 0;
  font-family: Arial;
}
.carousel-container{
  position: relative;
}

/*display none default*/
.carousel{
  display: block;
}

.carousel img{
  width: 100%;
  height: 550px;
  object-fit: cover;
}


@media screen and (max-width: 768px){
  .carousel img{
    height: auto;
  }
}