*{box-sizing: border-box}
body{
  margin: 0;
  color: #333;
  font-family: Arial;
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.nav-top{

  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-top ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

}
.nav-top ul li{
  float: left;
}
.nav-top li a{
  color: orange;
  display: inline-block;
  text-decoration: none;
  padding: 14px 24px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
}

.nav-top li a:hover{
  background-color: orange;
  color: #fff;
}

.carousel-container{
  position: relative;
}

/*display none default*/
.carousel{
  display: none;
}

.carousel img{
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.text-carousel{
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
  color: #f8f8f8;
  font-size: 18px;
  padding: 8px 12px;

}
.text-carousel p{
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 16px 24px;
  opacity: 0.8;  
}

.previus, .next{
  position: absolute;
  top: 45%;
  font-size: 28px;
  padding: 12px 24px;
  color: #f8f8f8;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
  
}

.next{
  right: 0;
}
.previus:hover,
.next:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.dots{
  text-align: center;
  padding: 15px;
}
.dot{
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  margin: 0 6px;
  background-color: #bbb;
  cursor: pointer;
}

.active-dot{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #888; 
}

.effect-fade{
  animation: fade 0.6s ease-in-out;
  -webkit-animation: fade 0.6s ease-in-out;
  -moz-animation: fade 0.6s ease-in-out;
}

@-webkit-keyframes fade{
  from{
    opacity: .6;
  }
  to{
    opacity: 1;
  } 
}

@keyframes fade{
 from{
   opacity: 0.6;
 } 
 to{
   opacity: 1;
 }
}


/*About */
#About{
  display: block;
  margin: 65px auto;
  max-width: 50%;
  width: 100%;
}
.about-desc{
  text-align: center;
}
.about-desc .The-tilte{
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
}

.slogan{
  font-style: italic;
  color: #aaa; 
}
.about-text{
  text-align: justify;
  text-justify: auto;
  text-rendering: auto;
  line-height: 24px;

}

.about-person:after{
  content: "";
  display: table;
  clear: both;
}

.person{
  width: 33.333%;
  float: left;
  padding: 12px;
  text-align: center;
}

.person img{
  max-width: 190px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


@media screen and (max-width: 768px){
  .carousel img{
    height: auto;
  }
}